.aboutus-container {
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.aboutus-container::after {
    content: '';
    width: 100%;
    height:20px;
    position: absolute;
    background: linear-gradient(180deg, transparent, #000);
    bottom: 0;
 }

.about-aos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutus-content {
    height: 100%;
    width: 80%;
    display: flex;
    position: relative;
}

.side-fire {
    position: absolute;
    height: 500px;
    left: -50px;
    top: -150px;
    transform: rotate(90deg);
}

.aboutus-info {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.aboutus-info h3 {
    font-size: 2rem;
    color: #ffd868;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.aboutus-info h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.aboutus-info p {
    line-height: 2;
    font-size: 1.5rem;
}

.aboutus-p {
    margin-bottom: 1rem;
}

.aboutus-images {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-img {
    height: 450px;
    border-radius: 10px;
    object-fit: contain;
}

.aboutus-flour {
    position: absolute;
    height: 800px;
    top: -150px;
    left: 5%;
    z-index: -1;
    object-fit: contain;
}

@media screen and (max-width: 1290px) {
    .aboutus-container {
        height: auto;
    }
    .aboutus-content {
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .aboutus-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 .5rem;
    }

    .aboutus-img {
        height: 400px;
        margin: 2rem 0;
    }

    .aboutus-flour {
        position: absolute;
        height: 700px;
        top: -150px;
        left: 0;
        z-index: -1;
        object-fit: contain;
    }
} 

@media screen and (max-width: 1025px) {
    .aboutus-content {
        flex-direction: column;
        text-align: center;
    }
    .aboutus-images {
        justify-content: center;
    }

    .aboutus-flour {
        height: 800px;
        top: -50px;
        left: 0px;
        z-index: -1;
        object-fit: contain;
    }

    .side-fire {
        height: 300px;
        left: -100px;
        top: 150px;
    }
}

@media screen and (max-width: 770px) {
    .aboutus-info h1 {
        font-size: 3rem;
    }

    .aboutus-info p {
        font-size: 1.3rem;
        padding: 0 1rem;
    }
    
    .aboutus-img {
        margin-right: 0;
    }

    .side-fire {
        left: -280px;
        top: -210px;
    }
}

@media screen and (max-width: 540px) {
    .aboutus-img {
        height: 300px;
    }

    .aboutus-flour {
        height: 450px;
        top: -30px;
        left: -50px;
        z-index: -1;
        object-fit: contain;
    }
    .side-fire {
        left: -170px;
        top: -50px;
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    .aboutus-info p {
        width: 100%;
    }

    .aboutus-img {
        height: 250px;
        margin-top: 1rem;
    }

    .aboutus-flour {
        height: 350px;
        top: -30px;
        left: -20px;
    }

    .side-fire {
        left: -250px;
        top: -60px;
    }
}

@media screen and (max-width: 400px) {
    .aboutus-img {
        height: 230px;
        margin-top: 0;
    }

    .aboutus-flour {
        height: 350px;
        top: -50px;
        left: -30px;
    }
}

@media screen and (max-width: 360px) {
    .aboutus-flour {
        top: 0px;
    }

    .side-fire {
        left: -280px;
        top: -70px;
    }
}
@media screen and (max-width: 320px) {
    .aboutus-info h1 {
        font-size: 2rem;
    }

    .aboutus-info p {
        font-size: 1rem;
    }

    .aboutus-img {
        height: 150px;
        margin-top: 1rem;
    }

    .side-fire {
        left: -180px;
        top: -50px;
    }

    .aboutus-flour {
        top: -25px;
        left: -10px;
        height: 230px;
    }
} 