.review-container {
    height: 80vh;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    z-index: 2;
    background: url('https://st2.depositphotos.com/3283585/12247/v/950/depositphotos_122478664-stock-illustration-pattern-on-the-theme-of.jpg');
    background-color: rgba(0,0,0,0.9); /* Tint color */
    background-blend-mode: multiply;
    background-position: center;
}

.review-container::before {
    content: '';
    width: 100%;
    height:60px;
    position: absolute;
    background: linear-gradient(0deg, transparent, #000);
    top: 0;
}

.review-container::after {
    content: '';
    width: 100%;
    height:60px;
    position: absolute;
    background: linear-gradient(180deg, transparent, #000);
    bottom: 0;
}

.review-container h1 {
    font-size: 3rem;
    align-self: flex-start;
    margin-left: 2rem;
    z-index: 2;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 100%;
    padding: 0 1rem;
    z-index: 2;
    position: relative;
}

.review {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    background: rgb(24, 24, 24);
    padding: 0 1rem;
    position: relative;
    z-index: 2;
    overflow-y: hidden;
}

.review p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.review-img {
    position: absolute;
    height: 100px;
    right: 0;
    bottom: -35px;
    background-size: contain;
    background-position: bottom;
    z-index: 1;
}

.review-header i {
    color: rgb(230, 230, 0);
}

@media screen and (max-width: 1636px) {
    .review p {
        font-size: 1rem;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 1112px) {
    .review-name {
        bottom: 5%;
    }

    .review-container h1 {
        font-size: 3rem;
    }

    .review {
        margin: .5rem;
    }
}

@media screen and (max-width: 1024px) {
    .review i {
        top: 10%;
        font-size: 3rem;
    }

    .review p {
        font-size: 1.8rem;
    }

    .review-name h2 {
        font-size: 2rem;
    }

    .review-name h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .review-container {
        height: 200vh;

    }
    .reviews {
        flex-direction: column;
    }

    .review {
        width: 95%;
        align-items: center;
        margin: .5rem;
    }

    .review-container h1 {
        margin-top: 0;
    }

    .review p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 415px) {
    .review p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 280px) {
    .review p {
        font-size: 1rem;
        line-height: 1.3;
    }
}
